{
  order rate_limit before respond
}

https://oux.pl:3000 {
  tls /certs/fullchain.pem /certs/privkey.pem

  @auth {
    path /api/auth/* /login
  }

  @global {
    not path /_next/* /brand/* /favicon.ico /file.svg /globe.svg /next.svg /vercel.svg /window.svg
  }

  rate_limit @auth {
    zone auth {
      key {remote_host}
      events 10
      window 1m
    }
  }

  rate_limit @global {
    zone global {
      key {remote_host}
      events 1200
      window 1m
    }
  }

  request_body {
    max_size 2MB
  }

  reverse_proxy app:3000
}
